$colours: (
  dark: (
    primary: (
      100: hsl(153, 47%, 39%),
      200: hsl(153, 47%, 49%),
      300: hsl(153, 62%, 54%),
      400: hsl(153, 47%, 69%),
      500: hsl(153, 47%, 79%)
    ),
    primary-text: (
      300: hsl(208, 37%, 20%)
    ),
    background: (
      200: hsl(0, 0%, 0%),
      300: hsl(0, 0%, 10%),
      400: hsl(0, 0%, 23%),
      500: hsl(0, 0%, 33%)
    ),
    text: (
      100: hsl(209, 52%, 58%),
      200: hsl(209, 52%, 68%),
      300: hsl(209, 52%, 78%),
      400: hsl(209, 52%, 88%),
      500: hsl(209, 52%, 98%),
      underline: hsl(209, 52%, 98%, 0.1)
    ),
    one-dark: (
      background: hsl(218, 12%, 18%),
      callout: hsl(214, 12%, 27%),
      black: hsl(220, 13%, 18%),
      white: hsl(219, 14%, 71%),
      red: hsl(355, 65%, 65%),
      green: hsl(95, 38%, 62%),
      yellow: hsl(39, 67%, 69%),
      magenta: hsl(286, 60%, 67%),
      dark-orange: hsla(24, 85%, 61%),
      orange: hsl(32, 46%, 59%)
    )
  ),
  light: (
    primary: (
      100: hsl(153, 47%, 39%),
      200: hsl(153, 47%, 49%),
      300: hsl(153, 62%, 54%),
      400: hsl(153, 47%, 69%),
      500: hsl(153, 47%, 79%)
    ),
    primary-text: (
      300: hsl(0, 0%, 100%)
    ),
    background: (
      100: hsl(100, 0%, 70%),
      200: hsl(100, 0%, 80%),
      300: hsl(100, 0%, 97%),
      400: hsl(100, 0%, 100%)
    ),
    text: (
      100: hsl(208, 37%, 0%),
      200: hsl(208, 37%, 10%),
      300: hsl(208, 37%, 20%),
      400: hsl(208, 37%, 30%),
      500: hsl(208, 37%, 40%),
      underline: hsl(208, 37%, 0%, 0.1)
    ),
    one-dark: (
      background: hsl(0, 0%, 98%),
      black: hsl(220, 13%, 18%),
      white: hsl(219, 14%, 71%),
      red: hsl(355, 65%, 65%),
      green: hsl(95, 38%, 62%),
      yellow: hsl(39, 67%, 69%),
      magenta: hsl(286, 60%, 67%),
      dark-orange: hsla(24, 85%, 61%),
      orange: hsl(32, 46%, 59%)
    )
  )
);
