@use './media_query' as media;

/* ------HEADER------ */
header {
  margin: 2rem 2rem 0 2rem;
  text-align: center;
  color: var(--clr-text-500);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a,
    p {
      margin-right: 1rem;
    }
    svg {
      padding: 0.5rem;
      border-radius: 100%;
      &:hover {
        cursor: pointer;
        background-color: var(--clr-background-400);
      }
    }
  }
  .title {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: var(--fs-500);
      font-weight: 400;
      margin-right: 0.5ch;
      margin-top: 5rem;

      background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    P {
      margin: 0;
      margin-bottom: 4rem;
      font-size: var(--fs-500);
    }
  }
}

/* ------FOOTER------ */
footer {
  display: flex;
  width: 100%;
  font-size: var(--fs-100);
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid var(--clr-text-underline);
  a {
    margin-left: 2rem;
  }
  .stack {
    display: flex;
    flex-direction: column;
    a:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}

/* ------BNT TO GUIDE------ */
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 2rem auto 4rem auto;
  padding: 0.5rem 5rem;
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-text-300);
  border-radius: 10px;
  font-size: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-text-300);
  }
}

/* ------ICON GRID------ */
.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  list-style: none;
  padding: 0;
  margin: 0;

  color: var(--clr-text-500);

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 180px;
    height: 180px;

    background-color: var(--clr-background-400);
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      cursor: pointer;
      border-color: var(--clr-primary-300);
    }

    svg {
      margin-bottom: 2rem;
    }
  }
  .selected {
    border: 1px solid var(--clr-primary-300);
  }
}

@include media.mq(medium) {
  .icons {
    grid-template-columns: repeat(4, 1fr);
    min-width: calc((180px * 4) + (3 * 16px) - 2rem);
  }
}

@include media.mq(large) {
  .icons {
    grid-template-columns: repeat(6, 1fr);
    min-width: calc((180px * 6) + (5 * 16px) - 2rem);
  }
}

/* ------SEARCH BAR------ */
.search-bar {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &-icon {
    padding: 0.75rem;
    background-color: var(--clr-background-400);
    color: #969696;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  &-input {
    flex-grow: 1;
    border: none;
    background-color: var(--clr-background-400);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--clr-text-500);
    text-indent: 1rem;
    font-size: var(--fs-400);
    &:focus {
      outline: none;
    }
  }
}

/* ------CUSTOMIZER------ */
.customizer {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  font-size: var(--fs-300);
  color: var(--clr-text-500);

  h1,
  h3 {
    font-weight: 400;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: var(--fs-500);
    }

    button {
      background-color: transparent;
      color: var(--clr-text-500);
      border: 1px solid var(--clr-text-500);
      border-radius: 5px;
      height: fit-content;
      padding: 0.5rem 1rem;
      &:hover {
        cursor: pointer;
        border: 1px solid var(--clr-text-400);
      }
    }
  }

  .input {
    display: flex;
    align-items: center;

    input[type='range'] {
      -webkit-appearance: none;
      min-width: 300px;
      margin-right: 1rem;
      background-color: transparent;

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: var(--clr-background-400);
        border-radius: 50px;
      }
      &::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: var(--clr-text-500);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5.5px;
      }
      &:focus::-webkit-slider-runnable-track {
        background: var(--clr-background-400);
      }
      &::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: var(--clr-background-400);
        border-radius: 50px;
      }
      &::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: var(--clr-text-500);
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: var(--clr-background-400);
        border-radius: 100px;
      }
      &::-ms-fill-upper {
        background: var(--clr-background-400);
        border-radius: 100px;
      }
      &::-ms-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: var(--clr-text-500);
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: var(--clr-background-400);
      }
      &:focus::-ms-fill-upper {
        background: var(--clr-background-400);
      }
    }
  }

  input[type='text'] {
    max-width: 150px;
    padding: 0.75rem 0 0.75rem 1.25rem;
    background-color: var(--clr-background-400);
    color: var(--clr-text-500);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/* ------GET CODE BTN------ */
.get-code {
  padding: 0.5rem 3rem;
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-background-400);
  color: var(--clr-text-500);
  font-size: var(--fs-400);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-text-300);
  }
}

/* ------Code Model------ */
.model {
  display: flex;
  color: var(--clr-one-dark-white);
  font-size: var(--fs-300);
  background-color: var(--clr-one-dark-background);
  border-radius: 10px;
  margin-bottom: 2rem;

  white-space: nowrap;
  padding: 1rem 2rem;
  max-width: calc((180px * 2) + (1 * 16px) - 2rem);
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--one-dark-white) #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-one-dark-white);
    border-radius: 10px;
    border: 3px solid var(--clr-one-dark-background);
  }
}

@include media.mq(medium) {
  .model {
    max-width: calc((180px * 4) + (1 * 16px) - 2rem);
  }
}

@include media.mq(large) {
  .model {
    max-width: calc((180px * 6) + (3 * 16px) - 2rem);
  }
}

.key-word {
  color: var(--clr-one-dark-magenta);
}
.string {
  color: var(--clr-one-dark-green);
}
.code {
  color: var(--clr-one-dark-red);
}
.yellow {
  color: var(--clr-one-dark-yellow);
}
.orange {
  color: var(--clr-one-dark-orange);
}
.dark-orange {
  color: var(--clr-one-dark-dark-orange);
}
.white {
  color: var(--clr-one-dark-white);
}
.callout {
  padding: 0 0.75rem;
  background-color: var(--clr-one-dark-callout);
  border-radius: 5px;
}

/* ------Code Block------ */

section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2rem auto;
  color: var(--clr-text-500);
  h2 {
    font-size: var(--fs-500);
    font-weight: 400;
    border-bottom: 1px solid var(--clr-text-underline);
  }
  .subtitle {
    font-size: var(--fs-400);
    margin-bottom: 0.5rem;
  }
  .body {
    width: 600px;
    font-size: var(--fs-200);
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    line-height: 150%;
    ul {
      list-style: none;
    }
  }
  .code-block {
    background-color: var(--clr-one-dark-background);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
